<div class="box">
  <div class="feature-one">
    <div class="column-content">
      <h2>{{ 'landing_page_feature_one_title' | translate }}</h2>
      <img [src]="'/assets/undraw_i_can_fly_7egl.svg'" alt="" />
      <p>
        {{ 'landing_page_feature_one_paragraph' | translate }}
      </p>
    </div>
  </div>

  <div class="feature-two">
    <div class="column-content">
      <img
        [src]="'/assets/undraw_App_installation_re_h36x-ffc36e.svg'"
        alt=""
      />
      <h2>{{ 'landing_page_feature_two_title' | translate }}</h2>
      <p>
        {{ 'landing_page_feature_two_paragraph' | translate }}
      </p>
    </div>
  </div>
</div>
