<div class="app-page-wrapper">
  <app-alert
    [type]="'success'"
    data-test="success-alert"
    *ngIf="resetPasswordAction.isSuccess"
  >
    <p>
      <strong>{{ 'reset_password_alert_success_title' | translate }}</strong>
    </p>

    <span>{{ 'reset_password_alert_success_message' | translate }}</span>
  </app-alert>

  <app-alert
    [type]="'danger'"
    data-test="error-alert"
    *ngIf="resetPasswordAction.isError"
  >
    <p>
      <strong>{{ 'reset_password_alert_error_title' | translate }}</strong>
    </p>

    <span>{{ 'reset_password_alert_error_message' | translate }}</span>
  </app-alert>

  <div
    class="component-vertical-spacer"
    *ngIf="resetPasswordAction.isSuccess || resetPasswordAction.isError"
  ></div>

  <p>{{ 'reset_password_messsage' | translate }}</p>

  <div class="component-vertical-spacer"></div>

  <form (ngSubmit)="requestPasswordReset()">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'reset_password_input_label' | translate }}</mat-label>

      <input matInput id="password" [(ngModel)]="newPassword" name="password" />

      <mat-hint>{{ 'reset_password_input_hint' | translate }}</mat-hint>
    </mat-form-field>

    <div class="component-vertical-spacer"></div>

    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="
        isPasswordValid &&
        (resetPasswordAction.isReady || resetPasswordAction.isError)
          ? false
          : true
      "
    >
      <span
        *ngIf="!resetPasswordAction.isLoading"
        data-test="submit-button-text"
        >{{ 'reset_password_submit_buton' | translate }}</span
      >

      <mat-icon
        *ngIf="resetPasswordAction.isLoading"
        data-test="submit-button-spinner"
        ><mat-spinner diameter="24" color="accent"> </mat-spinner
      ></mat-icon>
    </button>
  </form>

  <div class="component-vertical-spacer"></div>

  <div class="component-vertical-spacer"></div>

  <app-user-support-link
    [questionText]="'reset_password_help_question' | translate"
    [linkText]="'shared_talk_to_us' | translate"
    [supportMessageText]="'reset_password_support_message' | translate"
    *ngIf="resetPasswordAction.isError"
  ></app-user-support-link>
</div>
