@import '../../../styles/breakpoints.scss';

.mat-form-field {
  display: block;
}

.mat-flat-button {
  display: block;
  width: 100%;
  height: 48px;
}

.component-vertical-spacer {
  height: calc(var(--app-default-spacing) * 2);
}

.mat-spinner {
  --app-accent-color: white;
}

app-user-support-link {
  margin-top: calc(var(--app-default-spacing) * 4);
}

@media screen and (min-width: $tablet) {
  .app-page-wrapper {
    max-width: 480px;
  }
}
