<div class="app-page-wrapper">
  <div class="app-vertical-divider"></div>

  <app-download-app-cta
    [storeLinks]="storeLinksData"
    [useStoreBadges]="true"
  ></app-download-app-cta>
</div>

<footer>
  <div class="app-page-wrapper">
    <div class="footer-links">
      <a href="https://alguemquer-terms.firebaseapp.com/privacy.html">{{
        'terms_acceptance_caption_privacy' | translate
      }}</a>

      <span class="footer-link-divider">·</span>

      <a href="https://alguemquer-terms.firebaseapp.com">{{
        'terms_acceptance_caption_termos' | translate
      }}</a>
    </div>

    <div class="app-vertical-divider"></div>

    <p>
      © 2021 ·
      <a href="https://www.linkedin.com/in/tour%C3%A9-holder-63576a10b/"
        ><strong>Touré Holder</strong></a
      >
      · {{ 'common_all_rights_reserved' | translate }}
    </p>
  </div>
</footer>
