.material-icons {
  width: var(--listing-detail-avatar-size, --app-default-avatar-size);
  height: var(--listing-detail-avatar-size, --app-default-avatar-size);
  font-size: var(--listing-detail-avatar-size, --app-default-avatar-size);
  margin-right: 2rem;
}
