.material-icons {
  width: var(--app-user-info-tile-avatar-size, --app-default-avatar-size);
  height: var(--app-user-info-tile-avatar-size, --app-default-avatar-size);
  font-size: var(--app-user-info-tile-avatar-size, --app-default-avatar-size);
  margin-right: 2rem;
}
