<app-landing-page></app-landing-page>

<div class="app-page-wrapper">
  <h2>Alguns anúncios</h2>

  <!-- LOADING -->
  <app-home-loading-state
    *ngIf="getCategoriesRequest.isLoading === true"
    data-test="loading-state"
  >
  </app-home-loading-state>

  <!-- SUCCESS -->
  <div
    data-test="success-state"
    *ngIf="getCategoriesRequest.isSuccess === true"
  >
    <app-home-category-section
      *ngFor="let category of categories; index as i"
      [category]="category"
      data-test="home-category"
      [templateOption]="i === 0 ? '1' : undefined"
    ></app-home-category-section>
  </div>

  <div class="app-vertical-divider"></div>

  <app-download-app-cta
    [storeLinks]="storeLinksData"
    [centerStoreLinks]="true"
    [useStoreBadges]="true"
  ></app-download-app-cta>
</div>
