<div class="app-content-padding">
  <div class="app-skeleton-h1"></div>
  <div class="app-skeleton-subtitle"></div>

  <div class="app-vertical-spacer"></div>
  <div class="app-vertical-spacer"></div>

  <div class="app-skeleton-button"></div>

  <div class="app-vertical-spacer"></div>
  <div class="app-vertical-spacer"></div>

  <div class="app-skeleton-caption"></div>
  <div class="app-skeleton-p-line"></div>
  <div class="app-skeleton-p-line"></div>
  <div class="app-skeleton-p-line"></div>

  <div class="app-vertical-spacer"></div>
  <div class="app-vertical-spacer"></div>

  <div class="app-skeleton-button"></div>
  <div class="app-vertical-divider"></div>
  <div class="app-skeleton-button"></div>
</div>
